---
import { Code } from "astro-expressive-code/components";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import FeatureCard from "@/components/mdx/FeatureCard.astro";
import GitHubStats from "@/components/mdx/GitHubStats.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Home">

    <div class="space-y-8 mt-8 md:mt-36">
      <!-- Hero Section -->
      <section class="pt-6 pb-2">
        <div class="flex flex-col items-center text-center">
          <h1
            class="text-4xl font-bold mb-4 bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent leading-loose"
          >
            Caelum's blog
          </h1>
          <p class="text-xl text-base-content/80 max-w-3xl mb-6">
              我的战场在内存的荒野。在这片由0与1构成的规则迷宫中，我寻找着秩序的裂痕。通过镜片审视逻辑，用精心构造的载荷撬开缝隙，最终让 shellcode 如预言的种子般生根发芽，在远程主机上绽放出 root shell 的花。这不是破坏，而是对系统深层次真理的探索与证明。
          </p>
          <div class="flex flex-wrap gap-4 justify-center">
            <a href="/blog" class="btn btn-primary gap-2 btn-shine-effect">
              <Icon name="lucide:book-open" class="w-5 h-5" />
              <span>Explore Blog</span>
            </a>
          </div>
        </div>
      </section>

    </div>

</BaseLayout>
