---
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import FriendCard from "@/components/mdx/FriendCard.astro";
import LinkCard from "@/components/mdx/LinkCard.astro";
import Showcase from "@/components/mdx/Showcase.astro";
import Card from "@/components/temple/Card.astro";
import CardGroup from "@/components/temple/CardGroup.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const sites = [{ name: "Frosti Demo", url: "https://frosti.saroprock.com/" }];
---

<BaseLayout title="Friends">
  <CardGroup cols="1">

      <div class="space-y-10">
        <!-- Friends Section -->
        <section>
          <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
            <Icon name="lucide:users" class="w-6 h-6 text-primary" />
            <span>Friends</span>
          </h2>

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <FriendCard
              name="Qser3ne"
              avatar="https://github.com/Qser3ne.png"
              description="web CTFer "
              /* url="https://github.com/Qser3ne" */
              url="http://101.42.175.115/wordpress/"
              type="friend"
            />
            <FriendCard
              name="EX_4R26Li0"
              avatar="https://github.com/EX4R26Li0.png"
              description="reverse CTFer "
              url="http://47.105.82.15/"
              type="friend"
            />
          </div>

        </section>
      </div>

   
  </CardGroup>
</BaseLayout>
